<%# 全体を`turbo_frame_tag`で囲う %>
<%= turbo_frame_tag message do %>
  <div class="row py-2 border-top">
    <div class="col-4 my-auto">
      <%= message.title %>
    </div>
    <div class="col-4 my-auto">
      <%= message.score %>
    </div>
    <div class="col-4">
      <div class="d-flex justify-content-end">
        <%= link_to "編集", edit_message_path(message), class: "btn btn-sm btn-outline-primary me-2", data: { turbo_frame: "modal" } %>
        <%= link_to "削除", message, class: "btn btn-sm btn-outline-danger", data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？" } %>
      </div>
    </div>
  </div>
<% end %>
