<!-- 見出し -->
<h4 class="fw-bold">
  <span class="me-1">✉️</span>
  <span>メッセージ</span>
</h4>

<!-- 検索フォーム -->
<div class="card shadow mt-3">
  <div class="card-header">
    検索条件
  </div>

  <div class="card-body">
    <%= search_form_for(
      @search,
      html: {
        data: {
          turbo_frame: "messages-list",
          controller: "form",
          action: "input->form#submit"
        }
      }) do |f| %>
      <div class="row g3 mb-3">
        <div class="col-4 col-xl-2">
          <%= f.label :title_cont, "題名", class: "form-label" %>
          <%= f.search_field :title_cont, class: "form-control" %>
        </div>
        <div class="col-4 col-xl-2">
          <%= f.label :score_eq, "点数", class: "form-label" %>
          <%= f.search_field :score_eq, class: "form-control" %>
        </div>
        <div class="col-4 d-flex align-items-end">
          <%= link_to "リセット", messages_path, class: "btn btn-outline-secondary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<!-- 一覧 -->
<div class="card shadow mt-3">
  <div class="card-header">
    一覧
  </div>

  <div class="card-body mx-3">
    <%= turbo_frame_tag "messages-list", data: { turbo_action: :advance } do %>
      <div class="row py-2">
        <div class="col-4 mt-auto">
          <%= sort_link(@search, :title) %>
        </div>
        <div class="col-4 mt-auto">
          <%= sort_link(@search, :score) %>
        </div>
        <div class="col-4 d-flex justify-content-end">
          <%= link_to "登録",
                      new_message_path,
                      class: "btn btn-outline-primary",
                      data: { turbo_frame: "modal" }
          %>
        </div>
      </div>

      <div id="messages">
        <%= turbo_frame_tag "messages-page-#{@messages.current_page}" do %>
          <%= render @messages %>
          <%= turbo_frame_tag "messages-page-#{@messages.next_page}", loading: :lazy, src: path_to_next_page(@messages) %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>