<p style="color: green"><%= notice %></p>

<h1>Messages</h1>

<%# ransackを利用した検索フォームでは、form_withの代わりにsearch_form_forを使う %>
<%= search_form_for @search do |f| %>

  <%= f.label :title_cont, "題名" %>
  <%= f.search_field :title_cont %>

  <%= f.label :score_eq, "点数" %>
  <%= f.search_field :score_eq %>
  <%= f.submit %>

  <%# 検索結果と検索フォームをクリアする %>
  <%= link_to "クリア", messages_path %>
<% end %>

<%= sort_link(@search, :title) %>
<%= sort_link(@search, :score) %>

<div id="messages">
  <% @messages.each do |message| %>
    <%= render message %>
  <% end %>
</div>

<%= paginate @messages %>

<%= link_to "New message", new_message_path %>
