<div id="<%= dom_id @message %>">
  <p>
    <strong>題名:</strong>
    <%= @message.title %>
  </p>

  <p>
    <strong>点数:</strong>
    <%= @message.score %>
  </p>
</div>

<div>
  <%= link_to "編集", edit_message_path(@message) %> |
  <%= link_to "戻る", messages_path %>

  <%= button_to "削除", @message, method: :delete %>
</div>
